*{
    padding: 0;
    border: 0;
    margin:0 auto;
    font-family: Calibri;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

body{
    background: #F9F9F9;
}

#header{
    width: 1042px;
    height: 184px;
    background-color: #FFFFFF;
}

#header-con{
    width:1022px;
    height: 135px;
    border-top:5px solid #E84812;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

#header-left-con{
    /* width: 408px;
    height: 98px; */
    /* margin-top:32px;
    margin-left:30px; */
    color:#B7B7B7;
    font-size: 15px;
    float: left;
    padding: 32px 28px;
}
#header-left-con img{
    float: left;
}

#header-left-con p{
    /* margin-top:22px;
    margin-right:22px; */
    float: right;
    padding: 20px 33px;
}

#header-right-con{
    width: 280px;
    /* height: 100px; */
    /* margin-top: 20px;
    margin-right:40px; */
    text-align: right;
    float: right;
    color:#B7B7B7;
    padding: 15px 40px;
}

#header-right-con ul{
    float: right;
    padding: 10px 0px;
}

#header-right-con ul li{
    float: left;
    margin-right: 10px;
}

#header-right-con a{
    color:#B7B7B7;
    float: right;
}

#email{
    font-size: 14px;
    padding-bottom: 2px;
}

/* #header-right-con i{
    letter-spacing: 7px;
} */

#header-right-con i:hover{
    color:#E84812;
}

/* #header-right-con a:nth-child(6){
    padding-top:19px;
    line-height: 1px;
    font-size:9px;
} */

.search{
    margin-top: -28px;
    padding-right: 9px;
}

.search i{
    font-size: 10px;
    color:#B7B7B7;
}

.search-text{
    width:200px;
    height:35px;
    border:1px solid #E0E0E0;
    background: transparent;
    font-size: 15px;
    padding-left:10px;
}

#nav{
    width: 1040px;
    height: 49px;
    font-size: 15px;
    background-color: #4E4E4E;
}

.nav-button {
    /* width: 720px; */
    height: 49px;
}

.nav-button ul li a i{
    font-size: 12px;
    padding-right: 5px;
}

/* .nav-first-list:nth-child(1){
    width:104px;
}

.nav-first-list:nth-child(2){
    width:122px;
}

.nav-first-list:nth-child(3){
    width:125px;
}

.nav-first-list:nth-child(4){
    width:125px;
}

.nav-first-list:nth-child(5){
    width:132px;
}

.nav-first-list:nth-child(6){
    width:110px;
} */

.nav-first-list{
    float: left;
}

.nav-first-list:hover{
    background-color: #E84811;
}

.nav-button-link{
    /* height: 49px; */
    display: block;
    text-align: center;
    /* line-height: 45px; */
    border-right:1px solid #666666; 
    color:#FFFFFF;
    padding: 15.5px 23px;
}

.first-dropdown-content{
    width: 800px;
    height: 290px;
    background-color: #FFFFFF;
    border:1px solid #e0e0e0;
    position: absolute;
    display: none;
    z-index:1;
}

.second-dropdown-content{
    width: 140px;
    height: 184px;
    background-color: #FFFFFF;
    border:1px solid #e0e0e0;
    position: absolute;
    display: none;
    z-index:1;
}

#first-dropdown:hover .first-dropdown-content{
    display: block;
}

#second-dropdown:hover .second-dropdown-content{
    display: block;
}

.first-dropdown-content-title{
    color:#A8A8A8;
    width: 740px;
    height: 35px;
    line-height: 28px;
    border-bottom:1px solid #dfdfdf;
    margin-left:20px;
}
.first-dropdown-content-con{
    float: left;
    color: #A8A8A8;
    margin-top:10px;
    margin-left: 30px;
}

.first-dropdown-content-con:nth-child(2){
    margin-left: 62px;
}

.first-dropdown-content-con:nth-child(3){
    margin-left: 38px;
}

.first-dropdown-content-con:nth-child(4){
    margin-left: 17px;
}

.list-of-dropDown{
    float: left;
}

.list-of-dropDown h4{
    color: #000;
}

.list-of-dropDown ul{
    margin-top:10px;
    line-height: 25px;
}

.list-of-dropDown ul li a{
    color: #A8A8A8;
}

.second-dropdown-content ul li{
    width: 140px;
    height: 36px;
    border-top: 1px solid #E5E5E5;
    list-style: none;
    text-indent: 12px;
}

.second-dropdown-content ul li a{
    line-height: 31px;
    color: #A8A8A8;
}

#main-pic{
    width:1040px;
    height:490px;
}

#left-tri{
    width: 0; 
    height: 0; 
    border-top: 10px solid #B7B7B7; 
    border-left: 10px solid transparent; 
    float: left;
}

#slider{
    width:1022px;
    height: 490px;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

#right-tri{
    width: 0; 
    height: 0; 
    margin-top: -490px;
    border-top: 10px solid #B7B7B7; 
    border-right: 10px solid transparent; 
    float: right;
}

#news{
    width:1022px;
    height:184px;
    color:#616161;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color: #FFFFFF;
    padding: 35px 0px 35px 40px;
}

.news-con{
    width: 30.5%;
    float: left;
    margin: 0px 21px 0px 0px;
}

/* .news-con:nth-child(1){
    margin-left: 30px;
} */

.news-con p{
    margin-top:16px;
    height:44px;
    line-height: 21px;
    font-size: 15px;
}

.news-con span{
    font-size: 15px;
    color:#E84811;
}

/* .news-con:nth-child(2){
    margin-left: 14px;
}

.news-con:nth-child(3){
    margin-left: 14px;
} */

#pic-news{
    width: 1022px;
    height: 312px;
    border-top:1px solid #e0e0e0;
    color:#616161;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color: #FCFCFC;
    padding: 30px 0px 30px 40px;
}

#left-pic-news{
    width:22.5%;
    /* padding: 30px 0px 0px 40px; */
    float: left;
}

/* #pic-button{
    margin-top:24px;
    height: 24px;
} */

#pic-button a{
    display: inline-block;
    width:24px;
    height: 24px;
    float: left;
    text-align: center;
    border-radius:0px 2px 2px 0px;
}

#pic-button-left{
    color:#CBCBCB;
    background-color: #EEEEEE;
}

#pic-button-right{
    color:#EEEEEE;
    background-color: #CBCBCB;
}

#left-pic-news p{
    /* margin-top: 10px; */
    font-size: 15px;
    line-height: 21px;
    padding: 10px 0px 24px 0px;
}

#right-pic-news{
    width:77.5%;
    float: right;
}

.right-pic-news{
    /* margin-top:40px;
    margin-left:-5px;
    width:245px;
    height: 273px; */
    /* width:31.5%; */
    /* padding: 40px 10px; */
    float: left;
    margin: 10px 0px 10px 20px;
}

/* .right-pic-news:nth-child(1){
    margin-left: 10px;
} */

.right-pic-news img:hover{
    opacity:0.5;
}

.right-pic-news:hover .little-con{
    border-top:5px solid #E84812;
}

#right-pic-news img{
    width: 220px;
    height: 150px;
}

.bar{
    width: 220px;
    height: 5px;
    background-color:#E4E4E4;
}

#bar3{
    background-color:#E84811;
}

.little-con{
    height: 61px;
    border: 1px solid #e0e0e0;
    border-top:5px solid #E4E4E4;
    padding-top:10px;
}

.little-con h3{
    font-size: 15px;
    padding-top: 6px;
    text-align: center;
}

.little-con p{
    /* padding-top:7px; */
    line-height: 18px;
    text-align: center;
    font-size: 15px;
}

#recent-news{
    width: 1022px;
    height: 303px;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color: #FFFFFF;
    padding: 30px 40px;
}

#recent-news-left{
    width:50%;
    float: left;
}

#recent-news-title{
    /* padding: 32px 40px 30px 40px; */
    color: #616161;
}

.dateNewsContainer:nth-child(1) {
    margin-left: 40px;
}

.dateNewsContainer{
    width:50%;
    float: left;
    font-size: 15px;
    /* margin-top:30px;
    margin-left: 40px; */
    padding: 30px 25px 0px 0px;
}

.dateNews-left{
    width:42px;
    height: 63px;
    float: left;
    text-align: center;
}

.dateNews-top{
    width:42px;
    height: 40px;
    color: #CBCBCB;
    background-color: #F2F2F2;
    line-height: 40px;
    font-size: 20px;
}

/* .dateNews-top p{
    padding-top:10px;
} */

.dateNews-down{
    width:42px;
    height: 23px;
    color: #F2F2F2;
    background-color: #CBCBCB;
}

/* .dateNews-down p{
    margin-top:0px;
} */

.dateNews-right{
    width: 150px;
    float: right;
}

.dateNews-right h3{
    font-size: 16px;
    color:#616161;
}

.dateNews-right p{
    /* letter-spacing: -1px; */
    font-size: 15px;
}

.dateNews-right a{
    color:#E84812;
}

.dateNews-right-article{
    width:150px;
    /* height: 105px; */
    line-height: 21px;
    color: #B7B7B7;
    padding: 14px 0px 2px 0px;
}

#recent-news-right{
    width: 50%;
    float: left;
}

#recent-news-right h3{
    /* padding:32px 0px 30px 10px; */
    color:#616161;
}

#recent-news-right-con{
    width:460px;
    /* height: 113px; */
    /* margin-top:25px; */
    /* margin-left:10px; */
    font-size: 15px;
    background-color: #F2F2F2;
    color:#B7B7B7;
    float: left;
    margin: 0px 10px;
}

#recent-news-right-con p{
    /* padding-top:26px;
    padding-left: 20px; */
    padding: 24px 26px 26px 26px;
    line-height: 21px;
}

#relationships{
    width:1020px;
    height:306px;
    color:#FFFFFF;
    background-color: #4E4E4E;
}

#relationships i{
    font-size: 13px;
}

/* .relationships-con:nth-child(1){
    margin-left: 40px;
} */

.relationships-con{
    width:22%;
    float: left;
    /* padding: 30px 13px 0px 0px; */
}

.relationships-con p{
    font-size: 14px;
    margin-top:20px;
}

.relationships-con ul{
    font-size: 14px;
}

.relationships-con ul li{
    line-height: 25px;
}

.relationships-con ul li a:hover{
    color: #E84812;
}

.relationships-con ul li a{
    color:#FFFFFF;
}

.relationships-title{
    font-size: 30px;
}

/* .relationships-con:nth-child(1){
    line-height: 10px;
    margin-top: 32px;
    margin-left:40px;
}

.relationships-con:nth-child(1) p{
    width: 205px;
    line-height: 15px;
}

.relationships-con:nth-child(1) h2{
    padding-bottom:10px;
}

.relationships-con:nth-child(2){
    width:159px;
    margin-top:30px;
    margin-left:-3px;
}

.relationships-con:nth-child(2) h5{
    line-height: 26px;
}

.relationships-con:nth-child(3){
    margin-top:30px;
    margin-left:80px;
    line-height: 26px;
}

.relationships-con:nth-child(3) ul{
    margin-top:12px;
}

.relationships-con:nth-child(4){
    line-height: 26px;
    margin-top:30px;
    margin-left:-2px;
}

.relationships-con:nth-child(4) ul{
    margin-top:12px;
} */

#left-icon{
    float: left;
    width:12px;
    height:12px;
    font-size: 12px;
    margin-left:2px;
    margin-top: 2px;
}

#right-text{
    width:180px;
    height: 19px;
    float: right;
    font-size: 10px;
    line-height: 20px;
}

#right-text a{
    color: #FFFFFF;
}

#part-contact{
    margin-top:12px;
}

.contact-text{
    width: 203px;
    height: 60px;
}

.contact-text:nth-child(2){
    margin-top:7px;
    margin-left:-2px;
    height: 25px;
}

.contact-text:nth-child(3){
    margin-left:-2px;
    margin-top:7px;
}

#footer{
    width: 1020px;
    height: 52px;
    background-color: #444444;
    color: #A9A9A9;
}

#footer-left{
    float: left;
    /* width:302px; */
    font-size: 15px;
    /* line-height: 20px;
    margin-left:30px;
    margin-top:14px; */
    padding: 15px 40px;
}

#footer-right{
    float: right;
    font-size: 15px;
    width:192px;
    padding: 15px 0px;
}

#footer-right a{
    display: block;
    text-align: center;
    border-right:1px solid #515151; 
    color: #A9A9A9;
    padding: 0px 10px;
}

#footer-right ul li{
    float: left;
}

#footer-right ul li:nth-child(3) a{
    border-right: none;
}