/* Custom CSS styles */

*{
    padding: 0;
    border: 0;
    margin:0 auto;
    font-family: Calibri;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

body{
    background: #F9F9F9;
}

#header{
    width: 1042px;
    height: 184px;
    background-color: #FFFFFF;
}

#header-con{
    width:1022px;
    height: 135px;
    border-top:5px solid #E84812;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

#header-left-con{
    color:#B7B7B7;
    font-size: 15px;
    float: left;
    padding: 32px 28px;
}
#header-left-con img{
    float: left;
}

#header-left-con p{
    float: right;
    padding: 20px 33px;
}

#header-right-con{
    width: 280px;
    text-align: right;
    float: right;
    color:#B7B7B7;
    padding: 15px 40px;
}

#header-right-con ul{
    float: right;
    padding: 5.5px 0px 11.5px 0px;
    font-size: 18px;
}

#header-right-con ul li{
    float: left;
    margin-right: 10px;
}

#header-right-con a{
    color:#B7B7B7;
    float: right;
}

#email{
    font-size: 14px;
    padding-bottom: 2px;
}

#header-right-con i:hover{
    color:#E84812;
}

.search{
    margin-top: -27px;
    padding-right: 12px;
}

.search i{
    font-size: 12px;
    color:#B7B7B7;
}

.search-text{
    width:200px;
    height:35px;
    border:1px solid #E0E0E0;
    background: transparent;
    font-size: 15px;
    padding-left:10px;
}

#nav{
    width: 1040px;
    height: 49px;
    font-size: 15px;
    background-color: #4E4E4E;
}

.nav-button {
    height: 49px;
}

.nav-button ul li a i{
    font-size: 12px;
    padding-right: 5px;
}

.nav-first-list{
    float: left;
}

.nav-first-list:hover{
    background-color: #E84811;
}

.nav-button-link{
    display: block;
    text-align: center;
    border-right:1px solid #666666; 
    color:#FFFFFF;
    padding: 15.5px 24px;
}

.first-dropdown-content{
    width: 802px;
    height: 290px;
    background-color: #FFFFFF;
    border:1px solid #e0e0e0;
    position: absolute;
    display: none;
    z-index:1;
}

.second-dropdown-content{
    width: 142px;
    height: 184px;
    background-color: #FFFFFF;
    border:1px solid #e0e0e0;
    position: absolute;
    display: none;
    z-index:1;
}

#first-dropdown:hover .first-dropdown-content{
    display: block;
}

#second-dropdown:hover .second-dropdown-content{
    display: block;
}

.first-dropdown-content-title{
    color:#A8A8A8;
    width: 740px;
    height: 35px;
    line-height: 28px;
    border-bottom:1px solid #dfdfdf;
    margin-left:20px;
}

#dropdown-contents{
    height: 255px;
    padding: 13px 0px 10px 30px;
}

.first-dropdown-content-con{
    float: left;
    color: #A8A8A8;
    width: 24.5%;
}

.list-of-dropDown{
    float: left;
}

.list-of-dropDown h3{
    color: #000;
    font-size: 15px;
}

.list-of-dropDown ul{
    margin-top:10px;
    line-height: 25px;
}

.list-of-dropDown ul li a{
    color: #A8A8A8;
}

.second-dropdown-content ul li{
    height: 36px;
    border-top: 1px solid #E5E5E5;
    list-style: none;
    text-indent: 12px;
}

.second-dropdown-content ul li a{
    line-height: 31px;
    color: #000;
}

.second-dropdown-content ul li:hover{
    background-color: #f5f5f5;
}

#main-pic{
    width:1040px;
    height:490px;
}

#left-tri{
    width: 0; 
    height: 0; 
    border-top: 10px solid #B7B7B7; 
    border-left: 10px solid transparent; 
    float: left;
}

#slider{
    width:1022px;
    height: 490px;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

#right-tri{
    width: 0; 
    height: 0; 
    margin-top: -490px;
    border-top: 10px solid #B7B7B7; 
    border-right: 10px solid transparent; 
    float: right;
}

#news{
    width:1022px;
    height:184px;
    color:#616161;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color: #FFFFFF;
    padding: 35px 0px 35px 40px;
}

.news-con{
    width: 30.5%;
    float: left;
    margin: 0px 21px 0px 0px;
}

.news-con p{
    margin-top:16px;
    height:44px;
    line-height: 21px;
    font-size: 15px;
}

.news-con span{
    font-size: 15px;
    color:#E84811;
}

#pic-news{
    width: 1022px;
    height: 312px;
    border-top:1px solid #e0e0e0;
    color:#616161;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color: #FCFCFC;
    padding: 30px 0px 30px 40px;
}

#left-pic-news{
    width:22.5%;
    float: left;
}

#pic-button a{
    display: inline-block;
    width:24px;
    height: 24px;
    float: left;
    text-align: center;
    border-radius:0px 2px 2px 0px;
}

#pic-button-left{
    color:#CBCBCB;
    background-color: #EEEEEE;
}

#pic-button-right{
    color:#EEEEEE;
    background-color: #CBCBCB;
}

#left-pic-news p{
    font-size: 15px;
    line-height: 21px;
    padding: 10px 0px 24px 0px;
}

#right-pic-news{
    width:77.5%;
    float: right;
}

.right-pic-news{
    float: left;
    margin: 10px 0px 10px 20px;
}

.right-pic-news img:hover{
    opacity:0.5;
}

.right-pic-news:hover .little-con{
    border-top:5px solid #E84812;
}

#right-pic-news img{
    width: 220px;
    height: 150px;
}

.little-con{
    height: 78px;
    border: 1px solid #e0e0e0;
    border-top:5px solid #E4E4E4;
    padding-top:10px;
}

.little-con h3{
    font-size: 15px;
    padding-top: 6px;
    text-align: center;
}

.little-con p{
    line-height: 18px;
    text-align: center;
    font-size: 15px;
}

#recent-news{
    width: 1022px;
    height: 303px;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color: #FFFFFF;
    padding: 33px 40px 30px 40px;
}

#recent-news-left{
    width:51%;
    float: left;
}

#recent-news-title{
    color: #616161;
}

.dateNewsContainer{
    width:50%;
    float: left;
    font-size: 15px;
    padding: 28px 35px 0px 0px;
}

.dateNews-left{
    width:44px;
    height: 64px;
    float: left;
    text-align: center;
}

.dateNews-top{
    width:44px;
    height: 40px;
    color: #CBCBCB;
    background-color: #F2F2F2;
    line-height: 40px;
    font-size: 20px;
}

.dateNews-down{
    width:44px;
    height: 24px;
    color: #F2F2F2;
    background-color: #CBCBCB;
}

.dateNews-right{
    width: 145px;
    float: right;
}

.dateNews-right h3{
    font-size: 16px;
    color:#616161;
}

.dateNews-right p{
    font-size: 15px;
}

.dateNews-right a{
    color:#E84812;
}

.dateNews-right-article{
    width:150px;
    line-height: 21px;
    color: #B7B7B7;
    padding: 14px 0px 2px 0px;
}

#recent-news-right{
    width: 49%;
    float: left;
}

#recent-news-right h3{
    color:#616161;
}

#recent-news-right-con{
    width:460px;
    font-size: 15px;
    background-color: #F2F2F2;
    color:#B7B7B7;
    float: left;
    margin-top: 27px;
}

#recent-news-right-con p{
    padding:26px;
    line-height: 21px;
}

#relationships{
    width:1020px;
    height:306px;
    color:#FFFFFF;
    background-color: #4E4E4E;
    padding: 20px 20px 20px 40px;
}

#relationships i{
    padding-right: 5px;
}

.relationships-con{
    width:25%;
    float: left;
}

.relationships-con p{
    font-size: 14px;
    padding: 14px 20px 0px 0px;
    line-height: 21px;
}

.relationships-con ul{
    font-size: 13px;
    padding-top: 5px;
}

.relationships-con ul li{
    line-height: 25px;
}

.relationships-con ul li span{
    display: block;
    float: right;
    width: 91%;
    padding: 4px 45px 8px 0px;
    line-height: 18px;
}

#address{
    margin-right: 10px;
}

#clearfix{
    clear: both;
    padding-bottom: 5px;
}

.relationships-con ul li a:hover{
    color: #E84812;
}

.relationships-con ul li a{
    color:#FFFFFF;
}

.relationships-title{
    font-size: 30px;
}

.relationships-con-title{
    font-size: 16px;
    padding: 14px 0px;
}

#contact-list{
    margin: -2px 0px 0px 2px;
}

#footer{
    width: 1020px;
    height: 52px;
    background-color: #444444;
    color: #A9A9A9;
}

#footer-left{
    float: left;
    font-size: 14px;
    padding: 17px 30px;
}

#footer-right{
    float: right;
    font-size: 14px;
    width:192px;
    padding: 17px 0px;
}

#footer-right a{
    display: block;
    text-align: center;
    border-right:1px solid #515151; 
    color: #A9A9A9;
    padding: 0px 10px;
}

#footer-right a:hover{
    color: #E84812;
}

#footer-right ul li{
    float: left;
}

#footer-right ul li:nth-child(3) a{
    border-right: none;
}

/* Pure CSS Carousel */
.csslider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.csslider > input {
    display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
}
.csslider > ul {
    position: relative;
    width: 1020px;
    height: 450px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    background-color: #3a3a3a;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}
.csslider > .navigation {
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 7px;
}
.csslider > .navigation > div {
    margin-left: -100%;
}
.csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3a3a3a;
}
.csslider > .navigation label:hover:after {
    opacity: 1;
}
.csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #7f7f7f;
    border-radius: 50%;
    padding: 6px;
}
.csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}
.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
    background-color: #191919;
}
.csslider > .arrows {
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3a3a3a;
    cursor: pointer;
    -moz-transition: .15s;
    -o-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
}
.csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #71ad37;
    margin: 0 0px;
}
.csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type,
.csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10) {
    display: block;
    left: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type,
.csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12) {
    display: block;
    right: 0;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
/*#region MODULES */
/*#endregion */